---
import BaseLayout from "../layouts/BaseLayout.astro";
import Socials from "@components/Socials.astro";
---

<BaseLayout title="About">
  <div>
    <img
      src="/my-icon-min.svg"
      class="w-40 rounded-full bg-[#FF7F00]"
      alt="hush_in icon"
    />
  </div>

  <div class="prose mx-auto max-w-max">
    <ul>
      <li>Handle Name: hush_in / はっしゅ / 不信</li>
      <li>Name: Ryo KUROIWA</li>
      <li>
        Web Developer
        <ul>
          <li>Web フロントエンド中心にいろいろ</li>
        </ul>
      </li>
      <li>趣味はゲームとお酒と筋トレ</li>
    </ul>
    <div class="mt-4 flex flex-col sm:flex-row sm:items-center">
      <div class="mt-1 mr-2 whitespace-nowrap">
        <p class="m-0">Social Links:</p>
      </div>
      <Socials />
    </div>
  </div>

  <h2>過去サイト・作ったもの</h2>

  <ul>
    <li>
      <a href="https://flatv.fdempa.com/">FLATV</a>
      <ul>
        <li>
          <a href="https://flatv.fdempa.com/swf2pngsequence/">SWF2PNGSequence</a
          > SWFからPNGシーケンスを作成するAIRアプリ
        </li>
      </ul>
    </li>
  </ul>
</BaseLayout>
