---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>雑にdev</title>
  </head>
  <body>
    <h1>雑にdev</h1>
    <ul>
      <li>
        <a href="https://twitter.com/hush_in">https://twitter.com/hush_in</a>
      </li>
      <li><a href="https://github.com/hushin">https://github.com/hushin</a></li>
      <li><a href="https://zenn.dev/hush_in">https://zenn.dev/hush_in</a></li>
    </ul>
  </body>
</html>
